<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="login" value="false"/>-->
		<!--<add key="WriteFileLog" value="2" />--> <!--0= Crea en BD, 1= Crea un archivo en local, 2= Crea archivo e inserta en DB-->
		<!--<add key="PathLogLocal" value="C:\Log_Reune"/>-->
		<add key="tiene_credenciales" value="false" />
		<add key="pass_servicio" value="||" />
		<add key="instanciaBD" value="Sql" />
		<add key="DEV" value="Persist Security Info=false;Integrated Security=true; Initial Catalog=api_reune;Server=Carlos" />
	</appSettings>
</configuration>