USE [api_reune]
GO
/****** Object:  Table [dbo].[tb_reune_usuarios_w]    Script Date: 20/05/2024 10:02:12 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_reune_usuarios_w]') AND type in (N'U'))
DROP TABLE [dbo].[tb_reune_usuarios_w]
GO
/****** Object:  Table [dbo].[tb_reune_usuarios_w]    Script Date: 20/05/2024 10:02:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_reune_usuarios_w](
	[id_usuario] [int] NOT NULL,
	[userid_api] [varchar](max) NOT NULL,
	[username_api] [varchar](200) NOT NULL,
	[password_api] [varchar](max) NOT NULL,
	[institucionid_api] [varchar](max) NOT NULL,
	[is_active_api] [varchar](15) NOT NULL,
	[profileid_api] [varchar](200) NOT NULL,
	[date_api] [varchar](50) NOT NULL,
	[system_api] [varchar](200) NOT NULL,
	[nombre] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[token] [varchar](max) NULL,
	[id_tipoUser] [int] NULL,
	[fecha] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
